html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Plantilla MERN
  body 
    h1 Plantilla MERN 
    p ToDo app example 
    a(href='/tasks') View tasks
    form(method='post' action='/save')
      label(for='name') Nombre: 
      input(type='text' name='name')
      input(type='submit' value='Enter task')
