head
  title Node-Chat
  meta(charset='utf-8')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  #navbarColor01.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/chat/list') Chat
      li.nav-item
        a.nav-link(href='/history/list') Historial
    a.my-2.my-lg-0.text-white(href='/logout') Log Out

block content
  .container.w-50.p-3
    .row
      .col.align-self-center
        h1.py-3 Historial sala 
        
        button.btn.btn-danger.w-100(id="delete") 
          a.text-white(href=`/history/delete/${sala}`) Borrar historial

        div.py-3(id="chat") 

  script(type='text/javascript') var historial = JSON.parse('!{JSON.stringify(history)}'); var sala = #{sala};
  script(type='text/javascript' src='/js/history.js')
  


  
    